<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SHARE YOUR PLAYLIST</title>
        {{#each css}}
        <link rel="stylesheet" href="../css/{{this}}" type="text/css">
        {{/each}}
</head>
<body>
    {{{body}}}
</body>
</html>